[submodule "docs-driverworks"]
	path = docs-driverworks
	url = https://github.com/snap-one/docs-driverworks.git
[submodule "drivers-template-code-public"]
	path = drivers-template-code-public
	url = https://github.com/snap-one/drivers-template-code-public.git
[submodule "drivers-driverpackager"]
	path = drivers-driverpackager
	url = https://github.com/snap-one/drivers-driverpackager.git
